__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/
out/
transfer_out/
*.err
*.out
*.pth
*.bin
*.safetensors
*.pt
*.pth
external/checkpoints
!external/checkpoints/download.sh
env/*
dataset/coco/*
out/*
src/random_categories.json
src/random_coco_label.json
dataset/sunrgbd_data/*
dataset
src/slurm
src/extra
src/datasets
src/Pseudo_labels
src/output
external/InvSR/weights
src/weights
out
src/log*
src/sh_scripts*
src/sbatch_logs*
src/submit_all*
experimental_results
src/random_categories_*.json
src/random_coco_label_*.json
src/random_categories_*.json
src/*.glb
src/tools/*.json
experimental_results
CLAUDE.md
.claude/